BookManagement_HoangNgocTrinh.8/.vs
BookManagement_HoangNgocTrinh.8/AIrConditioner.BLL/bin
BookManagement_HoangNgocTrinh.8/AirConditioner.DAL/bin
BookManagement_HoangNgocTrinh.8/AIrConditioner.BLL/obj
BookManagement_HoangNgocTrinh.8/AirConditioner.DAL/obj
BookManagement_HoangNgocTrinh.8/BookManagement_HoangNgocTrinh/bin
BookManagement_HoangNgocTrinh.8/BookManagement_HoangNgocTrinh/obj
PRN212-PE/.vs
PRN212-PE/AirConditionerShop.BLL/obj
PRN212-PE/AirConditionerShop.DAL/obj
PRN212-PE/AirConditionerShop_HoangNgocTrinh/obj
PRN212-PE-2/PE_PRN212_SU24_118801_TranDangKhoa/.vs
PRN212-PE-2/PE_PRN212_SU24_118801_TranDangKhoa/Euro.BLL/bin
PRN212-PE-2/PE_PRN212_SU24_118801_TranDangKhoa/Euro.BLL/obj
PRN212-PE-2/PE_PRN212_SU24_118801_TranDangKhoa/Euro.DAL/bin
PRN212-PE-2/PE_PRN212_SU24_118801_TranDangKhoa/Euro.DAL/obj
PRN212-PE-2/PE_PRN212_SU24_118801_TranDangKhoa/GermanyEuro2024_TranDangKhoa/bin
PRN212-PE-2/PE_PRN212_SU24_118801_TranDangKhoa/GermanyEuro2024_TranDangKhoa/obj
