BookManagement_HoangNgocTrinh.8/.vs
BookManagement_HoangNgocTrinh.8/AIrConditioner.BLL/bin
BookManagement_HoangNgocTrinh.8/AirConditioner.DAL/bin
BookManagement_HoangNgocTrinh.8/AIrConditioner.BLL/obj
BookManagement_HoangNgocTrinh.8/AirConditioner.DAL/obj
BookManagement_HoangNgocTrinh.8/BookManagement_HoangNgocTrinh/bin
BookManagement_HoangNgocTrinh.8/BookManagement_HoangNgocTrinh/obj
PRN212-PE/.vs
PRN212-PE/AirConditionerShop.BLL/obj
PRN212-PE/AirConditionerShop.DAL/obj
PRN212-PE/AirConditionerShop_HoangNgocTrinh/obj
